<div class="pt-2">
  <%= form_for @pokemon do |f|%>
    <div class="form-group">
    <%= f.label :name, class:"form-label text-label"%>
    <%= f.text_field :name, class:"form-control"%>
    </div>
    <div class="form-group mt-3">
    <%= f.label :description, class:"form-label text-label"%>
    <%= f.text_field :description, class:"form-control"%>
    </div>
    <div class="form-group mt-3">
    <%= f.label :image, class:"form-label text-label"%>
    <%= f.text_field :image, class:"form-control"%>
    </div>

    <div class="flex">
      <%= f.submit :Add, class:"btn btn-success mt-2 paddings"%>
      <%= link_to "Back", pokemons_path, class:"btn btn-secondary mt-2 paddings"%>
    </div>
  <% end %>
</div>
